
body{
  padding-top: 56px;
  max-height: 100rem;
   
}


/*card position*/
.card-position{
    padding-top: 25px;
}

footer {
  position: relative;
  height: 30px;
  left: 0;
  bottom: 0;
  width: 100%;
}