{% extends 'layout.html' %} {% block content %}
<div class="row ">

  <div class="col-lg-3">
    <h1 class="my-4">Categories</h1>
    <div class="list-group">
      <a href="{{ url_for('electronics') }}" class="list-group-item active">Electronics</a>
      <a href="{{ url_for('home_garden') }}" class="list-group-item">Home & Garden</a>
      <a href="{{ url_for('motors') }}" class="list-group-item">Motors</a>
    </div>
  </div>
  <!-- /.col-lg-3 -->
  <div class="col-lg-9">
    <div id="carouselExampleIndicators" class="carousel slide my-4 shadow" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <a href="{{ url_for('electronics')}}"><img class="d-block img-fluid" src="/static/images/1.png" alt="First slide"></a>
        </div>
      </div>
    </div>
    <div class="row top-margin">
      <!--ELETRONICS-->
      {% for electronic in electronics %}
      <div class="col-lg-4 col-md-6  my-2 card-position">
        <div class="card h-100 shadow-sm">
          <a href="{{ url_for('review', id=electronic._id) }}"><img class="card-img-top" src="{{ electronic.url }}" width="200" height="200" alt="" class="responsive-img"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{ url_for('review', id=electronic._id) }}"><small>{{ electronic.product_name }}</small></a>
            </h4>
            <div class="row">
              <div class="col">
                <h5>${{ electronic.price }}</h5>
              </div>
              <div class="col">
                <i class="fas fa-eye text-muted"> {{electronic.views}}</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>


    <!-- PAGINATION -->
    <nav aria-label="Page navigation example">

      <ul class="pagination pg-amber justify-content-center">
        <!--Previous button-->
        <li {% if page==1 %} class="page-item disabled" {% endif %}>
          <a class="page-link" {% if page>1 %}href="{{ url_for('electronics', page=page, limit=limit) }}"{% endif %}>
                            Previous
                        </a>
        </li>

        <!--Middle of the pagination-->
        {% for p in pages %}
        <li class="page-item{% if  p == page  %} active{% endif %}">
          <a class="page-link" href="{{ url_for('electronics', page=p, limit=limit) }}">{{ p }}</a>
        </li>
        {% endfor %}



        <!--Next button-->
        <li {% if page==maximum %} class="page-item disabled" {% endif %}>
          <a class="page-link" {% if page!=maximum %}href="{{ url_for('electronics', page=page, limit=limit) }}" {% endif %}>
                            Next
                        </a>
        </li>
      </ul>
    </nav>

    <!-- /.row -->
  </div>
</div>


<!-- /.col-lg-9 -->

<!-- /.row -->
{% endblock %}
