{% extends 'layout.html' %} {% block content %}
<div class="row">
  <div class="col-lg-3">
    <h1 class="my-4">Categories</h1>
    <div class="list-group">
      <a href="{{ url_for('electronics') }}" class="list-group-item active">Electronics</a>
      <a href="{{ url_for('home_garden') }}" class="list-group-item">Home & Garden</a>
      <a href="{{ url_for('motors') }}" class="list-group-item">Motors</a>
    </div>
  </div>
  <!-- /.col-lg-3 -->
  <div class="col-lg-9 my-2">
    <div class="row top-margin">
      <!--ELETRONICS-->
      {% for electronic in electronics %}
      <div class="col-lg-4 col-md-6  my-2 card-position">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{ electronic.url }}" width="200" height="200" alt="" class="responsive-img"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{ url_for('review', id=electronic._id) }}">{{ electronic.product_name }}</a>
            </h4>
            <h5>${{ electronic.price }}</h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- /.row -->
  </div>
  <!-- /.col-lg-9 -->
</div>
<!-- /.row -->
{% endblock %}
