{% extends 'layout.html' %} 
{% block content %}
<div class="row">

      <div class="col-lg-3">
<!--MOVE THIS SECTION TO THE NAVBAR AS A DROPDOWN BUTTON LATER ON-->
        <h1 class="my-4">Categories</h1>
        <div class="list-group">
          <a href="{{ url_for('eletronics') }}" class="list-group-item active">Eletronics</a>
          <a href="{{ url_for('home_garden') }}" class="list-group-item">Home & Garden</a>
          <a href="{{ url_for('motors') }}" class="list-group-item">Motors</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->
<!---->
      <div class="col-lg-9">

        <div class="row top-margin">
        <!--ELETRONICS-->
        
        {%  for eletronic in eletronics %}
        
          <div class="col-lg-4 col-md-6 mb-4 card-position">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{ eletronic.product_name }}</a>
                </h4>
                <h5>${{ eletronic.price }}</h5>
                <p class="card-text">{{ eletronic.product_description}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
          
         {% endfor  %}

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->
{% endblock %}