{% extends 'layout.html' %} {% block content %}
<div class="row">
  <div class="col-lg-3">
    <h1 class="my-4">Categories</h1>
    <div class="list-group">
      <a href="{{ url_for('electronics') }}" class="list-group-item">Electronics</a>
      <a href="{{ url_for('home_garden') }}" class="list-group-item active">Home & Garden</a>
      <a href="{{ url_for('motors') }}" class="list-group-item ">Motors</a>
    </div>
  </div>
  <!-- /.col-lg-3 -->
  <div class="col-lg-9">
    <div class="row top-margin">
      <!--ELETRONICS-->
      {% for hg in homeGarden %}
      <div class="col-lg-4 col-md-6 my-3 card-position">
         <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{ hg.url }}" width="200" height="200" alt="" class="responsive-img"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{ url_for('review', id=hg._id) }}"><small>{{ hg.product_name }}</small></a>
            </h4>
            <div class="row">
              <div class="col">
                <h5>${{ hg.price }}</h5>
              </div>
              <div class="col">
                <i class="fas fa-eye text-muted"> <small>{{hg.views}}</small></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
            <ul class="pagination pg-blue justify-content-center">
              <li {% if page==1 %} class="page-item disabled" {% endif %}>
                <a class="page-link" {% if page>1 %}href="{{ url_for('electronics', page=page-1, limit=limit) }}"{% endif %}>
                            Previous
                        </a>
              </li>
              {% for page in pages %}
              <li class="page-item">
                <a class="page-link" href="{{ url_for('home_garden', page=page, limit=limit) }}">{{ page }}</a>
              </li>
              {% endfor %}
              <li {% if page==maximum %} class="page-item disabled" {% endif %}>
                <a class="page-link" {% if page!=maximum %}href="{{ url_for('home_garden', page=page + 1, limit=limit) }}" {% endif %}>
                            Next
                        </a>
              </li>
            </ul>
          </nav>
    <!-- /.row -->
  </div>
  <!-- /.col-lg-9 -->
   
</div>
{% endblock %}
