{% extends 'layout.html' %} {% block content %}
<div class="row ">
  <div class="col-lg-3">
    <div class="card  my-2">
      <h5 class="card-header btn btn-light"><strong>Categories</strong></h5>
      <a href="{{ url_for('electronics') }}" class="animate list-group-item">Electronics</a>
      <a href="{{ url_for('home_garden') }}" class="animate list-group-item">Home & Garden</a>
      <a href="{{ url_for('motors') }}" class="animate list-group-item">Motors</a>
    </div>
    <div class="card card-cascade wider my-3 propaganda">
      <!-- Card image -->
      <div class="view view-cascade overlay">
        <a href="https://youtu.be/yshNZlWezDk" target="_blank">
          <img class="card-img-top" src="/static/images/shoes.png" alt="Card image cap">
        </a>
      </div>
    </div>

  </div>
  <!-- /.col-lg-3 -->
  <div class="col-lg-9">
    <!--CAROUSEL-->
    <div id="carouselExampleIndicators" class="carousel slide my-2 shadow" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class=" carousel-inner" role="listbox">
        <div class="carousel-item active">
          <a href="{{ url_for('electronics')}}"><img class="d-block img-fluid" src="/static/images/1.png" alt="First slide"></a>
        </div>
        <div class="carousel-item">
          <a href="{{ url_for('motors')}}"><img class="d-block img-fluid" src="/static/images/2.png" alt="Second slide"></a>
        </div>
        <div class="carousel-item">
          <a href="{{ url_for('home_garden')}}"><img class="d-block img-fluid" src="/static/images/3.png" alt="Third slide"></a>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!--//CAROUSEL-->
    <div class="row">
      <div class="container">
        <figure class="mt-2 banner p-2 bg-warning">
          <div class="text-lg text-center text-white">Electronics</div>
        </figure>
      </div>
      <!--ELETRONICS-->
      {% for electronic in electronics[:6] %}
      <div class=" col-lg-4 col-md-6 mb-4 card-position ">
        <div class=" card h-100 shadow-sm img-fluid">
          <a href="{{ url_for('review', id=electronic._id)}}"><img class="card-img-top" src="{{ electronic.url }}" width="200" height="200" alt="" class="responsive-img"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{ url_for('review', id=electronic._id)}}"><small>{{ electronic.product_name }}</small></a>
            </h4>
            <div class="row">
              <div class="col">
                <h5>€{{ electronic.price }}</h5>
              </div>
              <div class="col">
                <i class="fas fa-eye text-muted"> {{electronic.views}}</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--</div>-->
      <!--<div class="row">-->
      <div class="container">
        <figure class="mt-1 banner p-2 bg-secondary shadow-sm">
          <div class="text-lg text-center text-white">Home & Garden</div>
        </figure>
      </div>
      <!--HOUSE & GARDEN-->
      {% for hg in homeGarden[:6] %}
      <div class="col-lg-4 col-md-6 mb-4 card-position">
        <div class="card h-100 shadow-sm">
          <a href="{{ url_for('review', id=hg._id)}}"><img class="card-img-top" src="{{ hg.url }}" width="200" height="200" alt="" class="responsive-img"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{ url_for('review', id=hg._id)}}"><small>{{ hg.product_name }}</small></a>
            </h4>
            <div class="row">
              <div class="col">
                <h5>€{{ hg.price }}</h5>
              </div>
              <div class="col">
                <i class="fas fa-eye text-muted"> <small>{{hg.views}}</small></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--  </div>-->
      <!--<div class="row">-->
      <div class="container">
        <figure class="mt-1 banner p-2 bg-success">
          <div class="text-lg text-center text-white">Motors</div>
        </figure>
      </div>
      <!--MOTORS-->
      {% for motor in motors[:6] %}
      <div class="col-lg-4 col-md-6 mb-4 card-position">
        <div class="card h-100 shadow-sm">
          <a href="{{ url_for('review', id=motor._id) }}"><img class="card-img-top" src="{{ motor.url }}" width="200" height="200" alt="" class="responsive-img"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{ url_for('review', id=motor._id) }}"><small>{{ motor.product_name }}</small></a>
            </h4>
            <div class="row">
              <div class="col">
                <h5>€{{ motor.price }}</h5>
              </div>
              <div class="col">
                <i class="fas fa-eye text-muted"> <small>{{motor.views}}</small></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--</div>-->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.col-lg-9 -->
</div>
<!-- /.row -->
{% endblock %}
