<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Shop Homepage - Start Bootstrap Template</title>
  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Baloo|Roboto+Slab&display=swap" rel="stylesheet">
  <title>AdPro</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="icon" href="/static/images/favicon.png">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link href="{{url_for('static', filename='shop-homepage.css')}}" rel="stylesheet">
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand baloo" href="{{ url_for('index') }}"><strong>AdPro</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-warning" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{url_for('electronics')}}">Electronics</a>
              <a class="dropdown-item" href="{{url_for('home_garden')}}">Home & Garden</a>
              <a class="dropdown-item" href="{{url_for('motors')}}">Motors</a>
            </div>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <!--WILL DISPLAY HOME/LOGIN/REGISTER WHEN NOT LOGGED IN-->
          {% if not session['email'] %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login')}}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('register')}}">Register</a>
          </li>
          <!--WILL DISPLAY HOME/LOGIN/REGISTER WHEN LOGGED IN-->
          {%  else %}
          <li class="nav-item">
            <a class="nav-link text-success" href="{{url_for('user')}}">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Content -->
  <div class="container ">
    {% block content %} {% endblock %}
  </div>
  <!-- /.container -->
  <!-- Footer -->

  <footer class="py-5 bg-dark">
    <div class="container footer-padding-top">
      <div class="row">
        <div class="col-sm-4">
          <h5 class="text-white">Disclaimer</h5>
          <hr class="bg-white hr1">
          <small><p class="m-0 text-left text-white">This material is for educational purpose only as part of Code Institute Software Development diploma.</p></small>
        </div>
        <div class="col-sm-4 ">
<p class="m-5 text-center my-4 text-white">&copy; AdPro 2019</p>
        </div>

        <div class="col-sm-4 my-2 col-lg-4 text-center ">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com" target="_blank">
            <i class="fab fa-facebook-f text-white mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://www.twitter.com" target="_blank">
            <i class="fab fa-twitter text-white  mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://www.linkedin.com" target="_blank">
            <i class="fab fa-linkedin-in text-white  mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com" target="_blank">
            <i class="fab fa-instagram text-white "> </i>
          </a>
          {%if session['email'] == None%}
          <div class="my-3">
            <a href="{{url_for('register')}}" class="btn btn-secondary">REGISTER</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    </div>
    <!-- /.container -->
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>
