{% extends 'layout.html' %} {% block content %}
<!-- Default form login -->
<div class="row justify-content-center">
    <div class="col-md-6 ">
        <form method='POST' class="card text-center border border-light p-5" action="{{ url_for('login') }}">
            <p class="h4 mb-4">Sign in</p>
            <!--<input type="text" id="#" class="form-control mb-4" name="username" placeholder="Username">-->
            <input type="email" id="" class="form-control mb-4" name="email" placeholder="Email">
            <input type="password" id="password" name="password" class="form-control mb-4" placeholder="Password">
            <div class="d-flex justify-content-around">
                <div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                        <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                    </div>
                </div>
            </div>
            <!-- Sign in button -->
            <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
            <!-- Register -->
            <p>Not a member?
                <a href="{{ url_for('register') }}">Register</a>
            </p>
            <!-- Social login -->
        </form>
    </div>
</div>
<!-- Default form login -->
{% endblock %}
