{% extends 'layout.html' %} 
{% block content %} 
 <div class="row">
     <!--MOVE THIS SECTION TO THE NAVBAR AS A DROPDOWN BUTTON LATER ON-->
      <div class="col-lg-3">
        <h1 class="my-4">Categories</h1>
        <div class="list-group">
          <a href="{{ url_for('eletronics') }}" class="list-group-item">Eletronics</a>
          <a href="{{ url_for('home_garden') }}" class="list-group-item">Home & Garden</a>
          <a href="{{ url_for('motors') }}" class="list-group-item active">Motors</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="row">
        <!--ELETRONICS-->
        
         {%  for motor in mottors %}
        
          <div class="col-lg-4 col-md-6 mb-4 card-position">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="{{motor.url}}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{ motor.product_name }}</a>
                </h4>
                <h5>${{ motor.price }}</h5>
                <p class="card-text">{{ motor.product_description}}</p>
              </div>
              <a class=" btn btn-sm btn-danger" href="{{  url_for('delete_product', product_id=motor._id) }}" role="button">#test Delete product</a>
              <a class=" btn btn-sm btn-primary" href="{{  url_for('edit_product', product_id=motor._id) }}" role="button">#test Edit product</a>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
          
         {% endfor  %}

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

{% endblock %}