
{% extends 'layout.html' %} {% block content %}
    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">Shop Name</h1>
        <div class="list-group">
          <a href="{{ url_for('electronics') }}" class="list-group-item">Electronics</a>
          <a href="{{ url_for('home_garden') }}" class="list-group-item">Home & Garden</a>
          <a href="{{ url_for('motors') }}" class="list-group-item">Motors</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="{{reviews.url}}" alt="">
          <div class="card-body">
            <h3 class="card-title">{{reviews.product_name}}</h3>
            <h4>${{reviews.price}}</h4>
            <p class="card-text">{{reviews.product_description}}</p>
            <p><strong>Seller: </strong>{{reviews.seller}}</p>
            4.0 stars
          </div>
        </div>
        <!-- /.card -->
        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Reviews
          </div>
          <div class="card-body">
            <!--LOOP TO DISPLAY THE COMMENTS HERE-->
           
            {% for rw in show_reviews %}
            <p>{{ rw[print_post] }}</p>
            <small class="text-muted">Posted by {{ rw[name] }} on {{ rw[date] }}</small>
            <hr>
            {% endfor %}
            <!-- ENDFOR HERE-->
            <hr>
            <!--CONDITIONAL TO ALLOW ONLY LOGGED USERS COMMENT-->
            
            {%if session['email'] != None %}
            <form action="{{url_for('review', id=reviews._id)}}" method="GET">
              <div class="form-group green-border-focus">
                <textarea class="form-control" id="review" name='review' placeholder="Add Review" rows="3" required></textarea>
            </div>
            <button class="btn btn-success" type="submit">Leave a Review</button>
            </form>
           {% endif %}
            <!--ENDIF-->
          </div>
        
          
          
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->
    </div>
 
{% endblock %}